<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Ferramenta de desempenho HG</h1>
        <label>Url</label>
        <input type="text" v-model="url">
        <button @click="getapi">Buscar API</button>
        {{ state }}
        <br>
        <div v-if="state === 'OK'">
            <div v-for="metric in Object.keys(pagespeed)">
                <div v-if="!pagespeed[metric].length">
                    <h2>{{metric}}</h2>
                    <div v-for="sub in Object.keys(pagespeed[metric])">
                        <div v-if="!pagespeed[metric][sub].length">
                            <h3>{{ sub }}</h3>
                            <div v-for="subsub in Object.keys(pagespeed[metric][sub])">
                                <div v-if="!pagespeed[metric][sub][subsub].length">
                                    <h4>{{ subsub }}</h4>
                                    <div v-for="subsubsub in Object.keys(pagespeed[metric][sub][subsub])">
                                        {{ subsubsub }} -> {{ pagespeed[metric][sub][subsub][subsubsub] }}
                                    </div>
                                </div>
                                <div v-else>
                                    {{ subsub }} -> {{ pagespeed[metric][sub][subsub] }}
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <p>{{sub}} -> {{ pagespeed[metric][sub] }}</p>                        
                        </div>
                    </div>
                </div>
                <div v-else>
                    <p>{{metric}} -> {{ pagespeed[metric] }}</p>
                </div>
            </div>

            <pre>
                {{ pagespeed.loadingExperience }}
            </pre>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        
        var app = new Vue({
            el: '#app',
            data: {
                pagespeed: {},
                url: 'https://developers.google.com',
                state: 'Clique para carregar',
            },
            methods: {
                getapi(){
                    const key = 'AIzaSyAcbeiiNhEwJrSla94CEYqCWXw0ZIHgl04'
                    const url = this.url
                    const api = `https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url=${url}&key=${key}&locale=pt-br`
        
                    this.state = 'Buscando dados'
                    axios.get(api)
                    .then(res => {
                        this.pagespeed = res.data
                        this.state = 'OK'
                        console.log(this.pagespeed)
                    })
                    .catch(err => {
                        const code = err.message.split(' ')[err.message.split(' ').length - 1]
                        if(code == 400){
                            this.state = 'URL Inválida'
                        }
                        if(code == 500){
                            this.state = 'Página não existe'
                        }
                        else{
                            this.state = 'Erro > ' + err.message
                        }
                    })
                }
            }
        })
    </script>
</body>
</html>